:root {
  --primary: black;
  --secondary: #7f90a5;
  /* --highlight: */
  --neutral: #afbfbf;
  --accent: #202426;
}

body {
  background-image: url("https://i.pinimg.com/originals/48/ca/0e/48ca0ebb051eae2e950400e6b842108e.png");
  font-size: 20px;
  font-family: 'Mansalva', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  /* background-image: url("https://i.pinimg.com/originals/48/ca/0e/48ca0ebb051eae2e950400e6b842108e.png"); */
  height: 20vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h3 {
  color: var(--primary);
}

img {
  border: 5px solid var(--secondary);
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  box-shadow: 10px 20px 20px var(--secondary);
}

p {
  font-family: 'Turret Road', cursive;
  font-size: 1.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  min-height: 72px;
}

nav ul {
  text-align: center;
}

nav li {
  padding: 15px
}

footer {
  display: flex;
  justify-content: center;
}

nav .fas {
  font-size: 1.8em; /* 48px - Gives a nice 'clickable' target as per: https://material.io/design/layout/spacing-methods.html#touch-targets */
  position: absolute;
  transform: translateX(90px);
}

.is-hidden--mobile {
  font-size: 0;
  height: 0;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .is-hidden--tablet {
  display: none;
  }

  .is-shown--tablet {
    font-size: initial;
    height: 100%; /* Take as much height as needed within the parent. */
  }
  @media screen and (min-width: px) {

    header {
      flex-direction: column;
      margin-right: 1em;
      padding: .5em;

    }

    .hero {
    height: 40vh;
    }
    .section-container {
      display: flex;
    }
}








